<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://mifaber-ea429db0ea4c.herokuapp.com/static/css/index.css">

        <title>HOME</title>
    </head>
    <body>

        <div id="container">
            <div id="header">
                <div id="logo"></div>
                <div id="menu"></div>
            </div>
            <div id="content">BIENVENIDO
               {#  <div id="login">
                    <div class="form-container">
                        <label for="usuario" class="label">USUARIO:</label>
                        <input type="text" id="usuario" name="usuario" class="input-field">

                        <label for="contrasena" class="label">CONTRASEÑA:</label>
                        <input type="password" id="contrasena" name="contrasena" class="input-field">

                        <button type="submit" class="button">Iniciar Sesión</button>
                    </div>
                </div> #}</div>

        </div>

    </body>
</html>