<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://mifaber-ea429db0ea4c.herokuapp.com/static/css/index.css">

        <title>Mifaber</title>
    </head>
    <body>

        <div id="container">
            <div id="header">
                <div id="logo"></div>
                <div id="menu"></div>
            </div>
            <div id="content">
                <div id="login">
                    <div class="form-container">
                        <form action="/login" method="post">
                            <label for="username">Usuario:</label>
                            <input type="text" id="username" name="username" required>

                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password" required>

                            <button type="submit">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>