<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://mifaberpro-891ceb77b445.herokuapp.com/static/css/index.css">

        <title>Mifaber</title>
    </head>
    <body>

        <div id="container">
            <div id="header">
                <div id="logo"></div>
                <div id="menu"></div>
            </div>
            <div id="content">
                <div id="login">
                    <div class="form-container">
                        <form  method="post" action="/login">

                            <div class="col-12">

                                <label for="username" class="form-label">USUARIO</label>

                                <input type="text" name="username" class="form-control1"  required="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="password" class="form-label">CONTRASEÑA</label>

                                <input type="password" name="password" class="form-control1" required="true"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" name="button" class="btninicio">
                  Iniciar sesión
                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>